<template>
  <span>
    {{ dateFormatted }}
    <q-tooltip>
      {{ date }}
    </q-tooltip>
  </span>
</template>

<script>
import dayjs from 'dayjs';

export default {
  name: 'Date',
  props: {
    date: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    return {
      dateFormatted: dayjs(props.date).format('YYYY/MM/DD'),
    };
  },
};
</script>
