<template>
  <q-spinner
    v-if="loading"
    color="primary"
    size="2em"
    :thickness="2"
  />
  <span v-else>
    <q-btn
      flat
      no-caps
      :label="planet.name"
      @click="showPlanetInfo = true"
    />

    <planet-info
      v-if="showPlanetInfo"
      :planet="planet"
      @planet-info-closed="showPlanetInfo = false"
    />
  </span>
</template>

<script>

import { ref } from 'vue';
import planetService from '../../../services/PlanetService';
import PlanetInfo from '../planetInfo';

export default {
  name: 'Planet',
  components: { PlanetInfo },
  props: {
    planetUrl: {
      type: String,
      required: true,
    },
  },

  setup(props) {
    const loading = ref(true);
    const planet = ref({});

    planetService.fetchPlanet(props.planetUrl).then((planetInfo) => {
      planet.value = planetInfo;
      loading.value = false;
    });

    return {
      loading,
      planet,
      showPlanetInfo: ref(false),
    };
  },
};
</script>
