<template>
  <q-dialog v-model="model">
    <q-card>
      <q-card-section class="row items-center">
        <div class="text-h4">
          {{ planet.name }}
        </div>
        <q-space />
        <q-btn
          v-close-popup
          icon="ion-close"
          flat
          round
          dense
        />
      </q-card-section>
      <img
        src="https://picsum.photos/600/200/?blur"
        height="200"
        :alt="planet.name"
      >
      <q-list>
        <q-item class="q-pl-lg q-pt-lg">
          <q-item-section avatar>
            <q-icon
              color="primary"
              name="ion-planet"
            />
          </q-item-section>

          <q-item-section>
            <q-item-label class="text-h4 text-capitalize">
              {{ planet.diameter }}
            </q-item-label>
            <q-item-label caption>
              Diameter
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item class="q-pl-lg q-pt-lg">
          <q-item-section avatar>
            <q-icon
              color="primary"
              name="ion-rainy"
            />
          </q-item-section>

          <q-item-section>
            <q-item-label class="text-h4 text-capitalize">
              {{ planet.climate }}
            </q-item-label>
            <q-item-label caption>
              Climate
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item class="q-pl-lg q-pt-lg">
          <q-item-section avatar>
            <q-icon
              color="primary"
              name="ion-people"
            />
          </q-item-section>

          <q-item-section>
            <q-item-label class="text-h4 text-capitalize">
              {{ planet.population }}
            </q-item-label>
            <q-item-label caption>
              Population
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
      <q-card-section />
    </q-card>
  </q-dialog>
</template>

<script>

import {
  ref,
  watch,
} from 'vue';

export default {
  name: 'PlanetInfo',

  props: {
    planet: {
      type: Object,
      required: true,
    },
  },

  setup(props, { emit }) {
    const model = ref(true);

    watch(() => model.value, (newValue) => {
      if (!newValue) {
        emit('planet-info-closed');
      }
    });

    return {
      model,
    };
  },
};
</script>

<style lang="scss" scoped>
.q-card {
  width: 600px;
  max-width: 90%;
}
</style>
