// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #b6a89d;
$secondary : #e6e2df;
$accent    : #a94c28;

$dark      : #484446;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
