<template>
  <q-page class="q-pa-lg">
    <creatures-table />
  </q-page>
</template>

<script>
import CreaturesTable from '../organisms/creaturesTable';

export default {
  name: 'HomePage',
  components: { CreaturesTable },
};
</script>

<style lang="scss" scoped>
@import "src/styles/quasar.variables";
.q-page {
  background-color: $secondary;
}
</style>
