<template>
  <q-footer
    reveal
    class="bg-dark text-white"
  >
    <q-toolbar class="q-pa-sm">
      <q-toolbar-title>
        <q-item
          clickable
          tag="a"
          target="_blank"
          href="https://bitbucket.org/vojtech_houzvicka/swpedia/src/main/"
        >
          <q-item-section avatar>
            <q-icon name="ion-logo-bitbucket" />
          </q-item-section>
          <q-item-section>
            <q-item-label>SWPedia repo</q-item-label>
          </q-item-section>
        </q-item>
      </q-toolbar-title>
    </q-toolbar>
  </q-footer>
</template>

<script>
export default {
  name: 'Footer',
};
</script>
