<template>
  <div>
    <q-table
      dark
      flat
      row-key="field"
      title="Star Wars Creatures"
      :pagination="{ rowsPerPage: 10 }"
      :columns="columns"
      :rows="rows"
      :loading="loading"
    >
      <template #body="props">
        <q-tr :props="props">
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            <date
              v-if="col.type === 'date'"
              :date="col.value"
            />
            <planet
              v-else-if="col.type === 'planet'"
              :planet-url="col.value"
            />
            <template v-else>
              {{ col.value }}
            </template>
          </q-td>
        </q-tr>
      </template>

      <template #no-data>
        <div
          v-if="!loading"
          class="
            no-data
            full-width
            row
            flex-center
            text-accent
            q-py-xl
          "
        >
          <q-icon
            size="2em"
            name="ion-close"
          />
          <span>
            Your query did not return any results.
          </span>
        </div>
      </template>

      <template #loading>
        <q-inner-loading
          showing
          color="accent"
        />
      </template>
    </q-table>
  </div>
</template>

<script>
import { computed } from 'vue';
import { useStore } from 'vuex';
import { columns } from './Constants';
import Date from '../../atoms/date';
import Planet from '../../molecules/planet';

export default {
  name: 'CreaturesTable',
  components: {
    Planet,
    Date,
  },
  setup() {
    const store = useStore();
    const loading = computed(() => store.state.loadingCreatures);
    const rows = computed(() => store.state.creatures);

    store.dispatch('searchCreatures', '');

    return {
      columns,
      loading,
      rows,
    };
  },
};

</script>

<style lang="scss" scoped>
.no-data {
  font-size: 20pt;
}
</style>
