<template>
  <q-layout view="hHh lpR fFf">
    <Header />

    <q-page-container>
      <home-page />
    </q-page-container>

    <Footer />
  </q-layout>
</template>

<script>
import { ref } from 'vue';
import Footer from './components/atoms/footer';
import Header from './components/molecules/header';
import HomePage from './components/pages/HomePage.vue';

export default {
  name: 'LayoutDefault',

  components: {
    HomePage,
    Footer,
    Header,
  },

  setup() {
    return {
      leftDrawerOpen: ref(true),
      text: ref(''),
    };
  },
};
</script>
