<template>
  <q-header
    reveal
    elevated
    class="bg-primary text-white"
  >
    <search-bar />
  </q-header>
</template>

<script>
import SearchBar from '../searchBar/SearchBar.vue';

export default {
  name: 'Header',

  components: {
    SearchBar,
  },
};
</script>
