<template>
  <q-toolbar
    class="q-pa-lg bg-dark"
  >
    <q-btn
      flat
      round
      aria-label="Menu"
      icon="ion-search"
      size="xl"
      @click="search"
    />

    <q-toolbar-title>
      <q-input
        color="white"
        label="Try to search SWPedia..."
        label-color="white"
        dark
        style="font-size: 25px"
        input-class="text-uppercase"
        :model-value="searchModel"
        @keyup.enter.native="search"
        @update:model-value="updateModel"
      />
      <div class="q-mt-lg">
        <q-toggle
          v-model="searchOnEnter"
          size="xs"
          label="Search on ENTER"
          class="q-mr-sm"
        />
      </div>
    </q-toolbar-title>
  </q-toolbar>
</template>

<script>
import {
  computed,
  ref,
} from 'vue';
import { useStore } from 'vuex';

export default {
  name: 'SearchBar',
  setup() {
    const store = useStore();

    const query = computed(() => store.state.search);
    const searchModel = ref('');
    const searchOnEnter = ref(false);

    /**
     * Update model and search
     *
     * @param {string} newValue
     */
    function updateModel(newValue) {
      searchModel.value = newValue;

      if (!searchOnEnter.value) {
        search();
      }
    }

    /**
     * Trigger search
     */
    function search() {
      store.dispatch('searchCreatures', searchModel.value);
    }

    return {
      search,
      query,
      searchModel,
      searchOnEnter,
      updateModel,
    };
  },
};
</script>

<style lang="scss" scoped>
.q-toggle {
  font-size: 11px;
}
</style>
